#mt{
    border:none;
    text-align: center;
    margin: 25px;
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    float: left;
}



.d2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 120px;
    width: 280px;
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 231, 231);
}

#p1{
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    
    
}
#heading{
    display: inline-block;
    height: auto;
    width: 100%;
    border:1px solid black;
    background-color: rgb(240, 228, 207);
    }
#projects{
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
    background-color: rgb(233, 214, 181);
    justify-content: top;
}
.img{
    height: 70px;
    border-radius: 10px;
}
.para{
    width: 75%;
    font-weight: bold;
}
#both{
    display:inline-flex;
}
#about{
    width: 70%;
    background-color: rgb(230, 214, 186);
    
}

.image{
    height: 400px;
    width: 60%;
    padding: 4%;
    
}
@media (max-width: 630px){
    #mt{
        font-size: 3.5rem;
        text-align: center;
    }
    #both{
        display: inline-flex;
        flex-direction: column;
    }
    #p1{
        font-size: 20px;
        text-align: center;
    }
    #projects{
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
        width:100%;
        
    }
    #heading{
        display: flex;
        flex-direction: column;
    }
   #about{
       width:100%;
   }
}
